version: 2.1

jobs:
  compile:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run: npm i
      - save_cache: 
          key: "npm-package"
          paths: /node_modules
      - run: npm run lint
      - run:
          name: on error
          command: echo "compile Error!"
          when: on_fail
  test:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: npm run test
      - run:
          name: on error
          command: echo "test Error!"
          when: on_fail
  analyse:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: npm audit
      - run:
          name: on error
          command: echo "audit Error!"
          when: on_fail

workflows:
  my_workflow:
    jobs:
      - compile 
      - test:
          requires: 
            - compile
      - analyse:
          requires:
            - test